* {
	box-sizing: border-box;
}

body {
	background-color: #cecece;
}


header .nav {
	align-items: right;
	display: flex;
	justify-content: space-between;
	height: 160px;
	margin: 15px 0;
	text-decoration: none;
}

.bio {
	height: 400px;
	background-color: grey;
	text-align: center;
	padding-top: 200px;
	border-radius: 10px;
}
.portfolio {
	height: 400px;
	display: flex;
	background-color: grey;
	padding-top: 200px;
	border-radius: 10px;
}
.contact {
	height: 400px;
	display: flex;
	background-color: grey;
	padding-top: 200px;
	border-radius: 10px;
}
.linkedin {
	height: 400px;
	display: flex;
	background-color: grey;
}
.box-five {
	height: 400px;
	display: flex;
	background-color: grey;
}