* {
	box-sizing: border-box;
}

body {
	background-color: red;
}


.nav {
	align-items: right;
	display: flex;
	justify-content: space-between;
	height: 160px;
	margin: 15px 0;
	text-decoration: none;
}

.box-one {
	height: 400px;
	background-color: grey;
	text-align: center;
	padding-top: 200px;
	border-radius: 10px;
}
.box-two {
	height: 400px;
	display: flex;
	background-color: grey;
	padding-top: 200px;
	border-radius: 10px;
}
}
.box-three {
	height: 400px;
	display: flex;
	background-color: grey;
	padding-top: 200px;
	border-radius: 10px;
}
.box-four {
	height: 400px;
	display: flex;
	background-color: grey;
}
.box-five {
	height: 400px;
	display: flex;
	background-color: grey;
}