body {
    background-color: #C3EDAF;
}

h1 {
    color: purple;
}

p {
    font-family: "Arial";
    font-size: 20px;
    color: purple;
    text-decoration: sans-serif;
}

h3 {
	color: green;
	text-align: center;

}