       * {
                box-sizing: border-box;
            }
            .outer-container {
                margin: auto;
                max-width: 1060px;
            }
            .body {
                background-image: url('images/tape.gif');
            }

            .box {
                background-color: #d8d8d8;
                border: solid 5px #979797;
                overflow: hidden;
                padding: 15px;
                text-decoration: none;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
            .header,
            .footer {
                float: left;
                font-family: monospace;
                font-size: 70px;
                font-weight: bold;
                height: 160px;
                margin-bottom: 15px;
                margin-top: 50px;
                padding-left: 30px;
                width: 100%;
            }
      
            
            .numbers-container {
                float: left;
                font-family: monospace;
                font-size: 30px;
                font-weight: bold;
                margin: 15px 0;
                text-decoration: none;
                width: 100%;

            }
            .secondary-one,
            .secondary-two,
            .secondary-three {
                float: left;
                padding-left;
                text-decoration: none;
                width: 33.333%;
            }

            .secondary-one .box {
                height: 160px;
                margin: 0 20px 0 0;
            }
            .secondary-two .box {
                height: 160px;
                margin: 0 10px 0 10px;
            }
            .secondary-three .box {
                height: 160px;
                margin: 0 0 0 20px;
            }