body {
    background-color: #b2cecf;
	font-family: "Arial";
}

h1 {
    color: purple;
}

p {
    font-family: "Arial";
    font-size: 20px;
    color: purple;
    text-decoration: sans-serif;
}

h3 {
	font-family: "Garamond";
	color: #50d07d;
	text-align: center;

}

ul li {
	font-style: italic;
	color: gray;
	list-style-type: square;
}
