/*
Project Name: Blank Template
Client: Your Client
Author: Your Name
Developer @GA in NYC
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
     color: #000;
     font-size: 12px;
     line-height: 1.4;
     font-family: Helvetica, Arial, sans-serif;
     background-size: cover;
}


/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */
#container {
  width: 100%;
  margin: auto;
  height: 500px;

}

header {
  background: url(../images/header_bg.jpg) no-repeat center top rgb(134,141,157);
  height: 700px;
  width: 100%;
  padding: 60px; 
}

footer {

}

.relaxr {
color: white;
font-size: 24px;
font-weight: 800;
}


.mind {
  color: white;
  font-size: 24px;
  text-align: center;
  margin top: 80px;
  margin-bottom: 100px;
  font-style: 600;
}

.headerbutton {
  width: 300px;
  padding: 15px;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  border-radius: 5px;
  background-color: yellow;
  font-weight: 800;
  font-size: 14px;
  border-radius: 5px;
}

.section1 {
  height: 200px;
  font-weight: 600;
  font-size: 20px;
  background-color: #f0efef;
}

.section2 {
  height: 200px;
  font-style: italic;
  font-size: 18px;
  font-weight: lighter;
  text-align: center;
  background-color: #121212;
  color: #C8C8C8;
  padding: 15px;
}

.now {
  width: 300px;
  padding: 15px;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  border-radius: 5px;
  background-color: yellow;
  font-weight: 800;
  font-size: 14px;
  border-radius: 5px;
}

.relaxr2 {

}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/




